<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="theme-color" content="#3F83F8">

    <meta name="description" content="Be easily notified when your terminal command is executed. Easy setup and quick notifications directly in your browser" />
    <meta name="keywords" content="notify, notification, terminal, command, Linux, PowerShell, Windows, CMD" />

    <title>notify.uno - Notifications for your terminal</title>

    <link href="/css/tailwind.min.css" rel="stylesheet" />
    <link href="/css/tailwind-ui.min.css" rel="stylesheet" />

    <style>
      .browser-not-supported {
        display: block;
      }

      .browser-is-supported {
        display: none;
      }

      @supports (display: grid) {
        .browser-not-supported {
          display: none;
        }

        .browser-is-supported {
          display: block;
        }
      }
    </style>

    <!-- Google Tag Manager -->
    <script>
    if (!(document.cookie.indexOf('OptOut=true') > -1) && !(location.hostname === "127.0.0.1")) {
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W62GRN2');
    }
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="bg-gray-100">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W62GRN2" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Hero with sign in -->
    <div class="mt-10 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 xl:mt-28">
      <div class="text-center">
        <img src="/bell.svg" class="mx-auto w-16 h-16 bg-blue-500 rounded-md p-3" />
        <h2 class="mt-6 text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
          Get notified when your <br /><span class="text-blue-500">commands</span> are done
        </h2>
        <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
          
        </p>
        <div class="mt-16 max-w-md mx-auto flex justify-center md:mt-24">
          <p class="browser-not-supported">Your browser is not supported.<br />Try <a href="https://browsehappy.com/" target="_blank" class="text-base font-medium leading-6 text-blue-500">a better browser</a></p>
          <div class="browser-is-supported rounded-md shadow-lg hover:shadow-xl transition duration-150">
            <a href="/auth/google" style="background-color: #4285F4;" class="w-full flex items-center justify-center border border-transparent rounded-md focus:outline-none focus:shadow-outline-blue transition duration-150 ease-in-out">
              <div class="bg-white rounded-md ml-1 my-1 p-4">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 48 48" class="abcRioButtonSvg w-5 h-5"><g><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path><path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path><path fill="none" d="M0 0h48v48H0z"></path></g></svg>
              </div>
              <span class="ml-2 md:ml-4 pl-2 pr-4 md:pr-8 md:pl-3 text-white md:text-lg text-base leading-6 font-medium">Sign in with Google</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- /End hero with sign in -->

    <!-- Description with terminal image -->
    <div class="py-16 overflow-hidden lg:py-24">
      <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-screen-xl">
        <svg class="hidden lg:block absolute left-full transform -translate-x-1/2 -translate-y-1/3" width="404" height="784" fill="none" viewBox="0 0 404 784">
          <defs>
            <pattern id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="784" fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)" />
        </svg>
    
        <div class="relative">
          <h3 class="text-center text-2xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-3xl md:text-4xl sm:leading-10">
            Notifications for your terminal
          </h3>
          <p class="mt-4 max-w-3xl mx-auto text-center text-md md:text-xl leading-7 text-gray-500">
            Are you tired of waiting for your tasks to finish? Just do something more important and be notified when you need to check back on your terminal.
          </p>
        </div>

        <picture>
          <source srcset="/images/macos-terminal.webp" type="image/webp">
          <source srcset="/images/macos-terminal.png" type="image/png"> 
          <img class="relative mx-auto transform translate-x-2 lg:translate-x-6 mt-4" 
            width="800" 
            src="/images/macos-terminal.png" 
            alt="MacOS Terminal with notify.uno notification">
        </picture>
    
        <div class="pt-12">
          <div class="max-w-xl mx-auto px-4 sm:px-6 lg:max-w-screen-xl lg:px-8">
            <div class="lg:grid lg:grid-cols-3 lg:gap-8">
              <div>
                <div class="mt-5">
                  <h5 class="text-lg leading-6 font-medium text-gray-900">Easy to setup and use</h5>
                  <p class="mt-2 text-base leading-6 text-gray-500">
                    Thanks to an ultra-fast set-up, you can concentrate more on the essentials than on finding out how complicated tools work. Sign in with Google to get started.
                  </p>
                </div>
              </div>
              <div class="mt-10 lg:mt-0">
                <div class="mt-5">
                  <h5 class="text-lg leading-6 font-medium text-gray-900">Works in your browser</h5>
                  <p class="mt-2 text-base leading-6 text-gray-500">
                    The notifications are simply handled by your browser, so you do not need to install anything. You can even be notified when the notify.uno page is not open.
                  </p>
                </div>
              </div>
              <div class="mt-10 lg:mt-0">
                <div class="mt-5">
                  <h5 class="text-lg leading-6 font-medium text-gray-900">Open Source</h5>
                  <p class="mt-2 text-base leading-6 text-gray-500">
                    See how notify.uno works in the background and even contribute on GitHub.
                  </p>
                  <a href="https://github.com/Simolation/notify.uno" target="_blank" class="mt-2 block text-base font-medium leading-6 text-blue-500">
                    Take me to GitHub &rarr;
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /End description with terminal image -->

    <!-- Other projects promotion -->
    <div class="max-w-screen-xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="p-2 rounded-md bg-blue-600 shadow-lg sm:p-3">
        <div class="flex items-center justify-between flex-wrap">
          <div class="flex-1 flex items-center py-2 sm:py-0">
            <p class="ml-3 font-medium text-white truncate">
              <span class="md:hidden">
                Check out my other projects
              </span>
              <span class="hidden md:inline">
                Find out what other great tools and projects I have created
              </span>
            </p>
          </div>
          <div class="order-3 mt-2 flex-shrink-0 w-full sm:mt-0 sm:w-auto">
            <div class="rounded-md shadow-sm">
              <a href="https://simons.page/?utm_source=notify.uno&utm_medium=banner&utm_campaign=show_me_more" target="_blank" class="flex items-center justify-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-blue-600 bg-white hover:text-blue-500 focus:outline-none focus:shadow-outline transition ease-in-out duration-150">
                Show me more
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /End other projects promotion -->

    <!-- Footer -->
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
      <div class="flex justify-center md:order-2">
        <a href="https://simolation.com/impressum?utm_source=notify.uno&utm_medium=footer&utm_campaign=links" target="_blank" class="text-gray-400 hover:text-gray-500">
          <span>Imprint</span>
        </a>
        <a href="https://simolation.com/datenschutzerklaerung?utm_source=notify.uno&utm_medium=footer&utm_campaign=links" target="_blank" class="ml-6 text-gray-400 hover:text-gray-500">
          <span>Privacy</span>
        </a>
        <a href="https://twitter.com/S_Osterlehner" target="_blank" class="ml-6 text-gray-400 hover:text-gray-500">
          <span class="sr-only">Twitter</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
            <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"/>
          </svg>
        </a>
        <a href="https://github.com/Simolation" target="_blank" class="ml-6 text-gray-400 hover:text-gray-500">
          <span class="sr-only">GitHub</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd"/>
          </svg>
        </a>
      </div>
      <div class="mt-8 md:mt-0 md:order-1">
        <p class="text-center text-base leading-6 text-gray-400">
          &copy; 2020 <a href="https://simons.page/?utm_source=notify.uno&utm_medium=footer&utm_campaign=copyright" class="hover:text-gray-500" target="_blank">Simon Osterlehner</a>
        </p>
      </div>
    </div>
    <!-- /End footer -->
  </body>
</html>